#profile_img {
  border-radius: 50%;
}

.techcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  flex-wrap: wrap;
}

.tech {
  width: 100px;
  height: 100px;
  filter: grayscale(00%);
  transition: ease-in-out 0.2s;
  margin-right: 10px;
  margin-bottom: 20px;
}

.tech:hover {
  filter: grayscale(70%)
}
