#profile_img {
  border-radius: 50%;
}

.techcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.tech {
  width: 25%;
  height: 25%;
  filter: grayscale(00%);
  transition: ease-in-out 0.2s;
  margin-right: 10px;
}

.tech:hover {
  filter: grayscale(70%);
}
.userbiotext {
  font-size: 9px;
}
